
.header {
    background-color:#0B3950 ;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    height: 80px;
}

.title{
    font-size: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 20px;
}

.name-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
}

.name-container label {
    margin-right: 10px; 
}

.account-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    padding: 5px;
}

.account-container label {
    margin-right: 10px; 
  }

.password-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

.password-container label {
    margin-right: 10px; 
  }

.content-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
}

.content-container label {
    margin-right: 10px; 
  }


.hr{
    color:antiquewhite;
}

.button-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;

}

p {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    padding:5px;
}

a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 15px;
}

.display-container{
    margin-top:20px;
}

.result{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    padding:5px;
}

.update{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    padding:5px;
}