<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="static/index.css">
</head>
    <body>
        <!---title section-->
        <header>
            <div class="header">歡迎光臨，請註冊登入系統</div>
        </header>
        <main>
            <div class="title">註冊帳號</div>
            <div class="form">
                <form id="signupForm" action="/signup" method="post">
                    <div class="form-group">
                        <div class="name-container">
                            <label for="name">姓名</label>
                            <input type="text" name="name" id="name" placeholder="請輸入姓名" required>
                        </div>
                        <div class="account-container">
                            <label for="account">帳號</label>
                            <input type="text" name="account" id="account" placeholder="請輸入帳號" required>
                        </div>
                        <div class="password-container">
                            <label for="password">密碼</label>
                            <input type="password" name="password" id="password" placeholder="請輸入密碼" required>
                        </div>
                        <div class="button-container">
                            <button type="submit">註冊</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--break line-->
            <hr>
            <!--break line-->
            <div class="title">登入系統</div>
                <div class="form">
                    <form id="loginForm" action="/signin" method="post">
                        <div class="form-group">
                            <div class="account-container">
                                <label for="account">帳號</label>
                                <input type="text" name="account" id="account" placeholder="請輸入帳號" required>
                            </div>
                            <div class="password-container">
                                <label for="password">密碼</label>
                                <input type="password" name="password" id="password" placeholder="請輸入密碼" required>
                            </div>
                            <div class="button-container">
                                <button type="submit">登入</button>
                            </div>
                        </div>
                    </form>
                </div>
        </main>
        <script src="static/index.js"></script>
    </body>

</html>